<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form_perfil.css') }}">
</head>
<body>
    <div class="content">
        <h1>Criação do Perfil</h1>
        <form id="form" method="POST">
            <div>
                <input type="text" name="nome" placeholder="Digite seu nome" class="inputs required" required>
            </div>
            <div>
                <input type="email" name="email" placeholder="Digite seu email" class="inputs required" required>
            </div>
            <div>
                <input type="password" name="senha" placeholder="Digite sua senha" class="inputs required" required>
            </div>
            <p>Sexo:</p>
            <div class="box-select">
                <div>
                    <input type="radio" id="m" value="m" name="sexo" required>
                    <label for="m">Masculino</label>
                </div>
                <div>
                    <input type="radio" id="f" value="f" name="sexo">
                    <label for="f">Feminino</label>
                </div>
                <div>
                    <input type="radio" id="o" value="o" name="sexo">
                    <label for="o">Outro</label>
                </div>
            </div>
            <p>Já possui animais de estimação?</p>
            <div class="box-select">
                <div>
                    <input type="radio" id="nenhum" value="nenhum" name="quantidade_animais" required>
                    <label for="nenhum">Não, nenhum.</label>
                </div>
                <div>
                    <input type="radio" id="um" value="um" name="quantidade_animais">
                    <label for="um">Sim, um.</label>
                </div>
                <div>
                    <input type="radio" id="dois" value="dois" name="quantidade_animais">
                    <label for="dois">Sim, dois.</label>
                </div>
                <div>
                    <input type="radio" id="tres" value="tres" name="quantidade_animais">
                    <label for="tres">Sim, três ou mais.</label>
                </div>
            </div>
            <textarea class="inputs" name="descricao" id="descricao" cols="25" rows="10" placeholder="Fale um pouco sobre você..." required></textarea>
            <button type="submit" id="enviar">Enviar</button>
        </form>
    </div>
</body>
</html>
